.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #a9d5fd;
  border-radius: 5px;
  width: 500px;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 10px;
  padding: 20px;
  font-size: 12px;
}

.name {
  margin: 30px 350px 0px 350px;
  font-weight: bold;
}

.nickName {
  border: 1px solid #c4e0fb;
  border-radius: 5px;
  width: 10%;
  height: 15%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  left: 20%;
  font-size: 13px;
  color: #949494;
  margin-bottom: 10px;
}

.userName {
  margin-left: 5px;
}

.registerTitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 480px;
  height: 50px;
  border: 1px solid #ebf0ff;
  border-radius: 5px;
  margin: 10px 0;
  font-weight: bold;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 480px;
  height: 200px;
  border: 1px solid #ebf0ff;
  border-radius: 5px;
  margin: 10px 0;
}

.platform,
.store,
.sum,
.num,
.residence,
.time,
.location {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}

.title {
  margin: 0px 20px;
  color: #949494;
}

.input {
  margin: 0 20px;
  border: none;
  width: 250px;
}

.content {
  border: 1px solid #ebf0ff;
  width: 480px;
  height: 250px;
}

.button {
  width: 100px;
  height: 40px;
  margin: 30px 0 10px 0;
}
