.container {
        display: flex;
        font-size: 14px;
        flex-direction: row-reverse;
        margin: 30px 250px 0 250px;
        color: #949494;
}

.message {
        margin-right: 20px;
}